:root {
  --pink: #d83af4;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/background-2.jpg);
  z-index: -1;
  background-position: center;
  background-size: cover;
  filter: grayscale();
}

.hero {
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.5rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-sizing: var(--shadow);
}

.hero a:hover {
  color: white;
  background-color: var(--pink);
}

.custom-navbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  /* backdrop-filter: blur(4px); */
  height: 6rem;
}

/* .custom-navbar .offcanvas {
  height: 100vh;
} */

.custom-navbar .navbar-brand,
.custom-navbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 1.8rem;
  font-weight: bold;
}

.custom-navbar .nav-link {
  text-transform: uppercase;
}

.home {
  position: relative;
  padding-bottom: 5rem;
  padding-top: 10rem;
}

.home::before {
  content: "";
  position: absolute;
  background-image: url(img/bg.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  inset: 0;
  z-index: -1;
  opacity: 0.5;
}

.home h2,
.story h2,
.gallery h2 {
  color: var(--pink);
  font-size: 4.5em;
  font-family: "Sacramento", cursive;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.home p {
  color: #8d8d8d;
}

.home .couple {
  margin-top: 5rem;
}

.home .couple h3 {
  font-family: "Sacramento", cursive;
  font-size: 2.1em;
  font-weight: 600;
  color: var(--pink);
}

.home .couple p {
  font-size: 1.2em;
}

.home img {
  width: 100%;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: #ffff;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: red;
}

.message {
  background-color: var(--bg);
  color: #eaeaea;
  /* padding-top: 2.5rem; */
  height: 400px;
}

.message h2 {
  padding-bottom: 1rem;
  font-family: "Sacramento", cursive;
  font-size: 4em;
  font-weight: 400;
}

.text-message {
  padding: 3rem;
  z-index: 1;
}

.love {
  position: absolute;
  width: 20%;
  opacity: 0.2;
  left: 0;
  bottom: 0;
  z-index: 0;
  transform: rotate(20deg);
}

.love-right {
  position: absolute;
  /* background-color: red; */
  width: 20%;
  opacity: 0.2;
  right: 0;
  bottom: 0;
  z-index: 0;
  transform: rotate(-20deg);
}
.story,
.gallery {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span {
  text-transform: uppercase;
  color: #6666;
  font-size: 0.9em;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p {
  font-size: 1em;
  font-weight: 300;
}

/* Timeline */
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #cccccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: red;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #cccccc;
  position: relative;
  padding: 2rem;
  border-radius: 8px;
  background-color: #ffff;
}

.timeline li .timeline-panel::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #fff2ff;
}

.footer {
  background-color: #ffffff;
}

/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 70px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc(100% - 200px);
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .custom-navbar .nav-link {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}
/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 45%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 3px;
  }

  .home::before {
    background-size: auto;
  }

  .love {
    width: 40%;
    bottom: -30px;
    left: -40px;
  }

  .love-right {
    width: 40%;
    bottom: -30px;
    right: -40px;
  }

  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }

  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-1rem);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 30px;
  }
}
